@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  height: 300px;
  background-image: url('ofi.png');
  background-size: cover;
}


 .navbar a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}


.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
  text-decoration: none;
  
}



/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: black;
  background-color: white;
  
}

.banner .container {
  height: 800px;
  width: 100%;
  font-size: 36px;
  justify-content: space-around;
  align-items: center;
  background-color: #F4EEA7;
  
}

.imagem_casa{
  width: 500px;
  height: 500px;
  background-image: url(Casa-di-Giulietta-Verona-Crédito-Shutterstock.jpg);
  background-size: cover;
  
}

.resumo{
  width: 600px;
  height: 600px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;}
  
 
.resumo .paragrafo1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: black;
  font-family: 'Snell Roundhand, cursive';
  width: 100%;
  font-style: oblique
}

.titulo {
  margin-left: 150px;
 font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
}

.span_elenco{
margin-left: 100px;
font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
 font-size: 30px;
}
span{
font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
 font-size: 20px;
 float: left;
}

.span_sophie{
  margin-left: 40px;
}

.span_claire{
  margin-left: 158px;
}

.span_charlie{
  margin-left: 90px;
}

.span_lorenzo{
  margin-left: 140px;
}

.span_victor{
  margin-left: 155px;
}

.elenco{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sophie{
  height: 100%;
  width: 150px;
  background-image: url(amanda-seyfried.webp);
  background-size: cover;
  float: left;
}

.claire{
  height: 100%;
  width: 150px;
  background-image: url(240px-Vanessa_Redgrave_2017.jpg);
  background-size: cover;
  float: left;
}

.charlie{
  height: 100%;
  width: 150px;
  background-image: url(charlie.jfif);
  background-size: cover;
  float: left;
}

.lorenzo{
  height: 100%;
  width: 150px;
  background-image: url(lorenzo.jfif);
  background-size: cover;
  float: left;
}

.victor{
  height: 100%;
  width: 150px;
  background-image: url(gael-garcia-bernal-1595359426954_v2_450x600.jpg);
  background-size: cover;
  float: left;
}


/* missao visao valores */

.social {
  display: flex;
  justify-content: center;
  background-color: #F4EEA7;
  display: flex;
  height: 900px;
  flex-direction: column;

} 

.span_curiosidade{
  margin-left: 100px;
  font-family: 'Snell Roundhand, cursive';
   color: black;
   font-style: oblique;
   font-size: 20px;
   border: #212124 3px solid;
   height: 40px;
   width: 400px;
}

.social .container1{
margin-left: 200px;
margin-top: 60px;
height: 50px;
width:500px ;
font-family: 'Snell Roundhand, cursive';
color: black;
font-style: oblique;
font-size: 30px;
align-items: center;

}

.social .container{
  display: flex;
  justify-content: center;
  height: 700px;
  background-color: white;
  flex-direction: column;
  
  
}

.verona{
  width:100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.verona_foto1{
  width: 250px;
 height: 90%;
 background-image: url(casa.jpg);
 background-size: cover;

}

.verona_texto{
  width: 300px;
  height: 90%;
  font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
 font-size: 19px;
}

.verona_foto2{
  width: 300px;
  height: 95%;
  background-image: url(muro.jpg);
  background-size: cover;
}

.toscana{
  width:100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.toscana_foto{
  width: 300px;
  height: 90%;
  background-image: url(toscana-estrada.jpg);
  background-size: cover;
}

.toscana_texto{
  width: 300px;
  height: 90%;
  font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
 font-size: 19px;
}

.toscana_foto2{
  width: 300px;
  height: 95%;
  background-image: url(Toscana-natureza-girassois-700x467.jpg);
  background-size: cover;
}

.siena{
  width:100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.siena_foto{
  width: 300px;
  height: 90%;
  background-image: url(siena1.jpg);
  background-size: cover;
}

.siena_texto{
  width: 300px;
  height: 90%;
  font-family: 'Snell Roundhand, cursive';
 color: black;
 font-style: oblique;
 font-size: 19px;
}

.siena_foto2{
  width: 300px;
  height: 95%;
  background-image: url(siena2.jpg);
  background-size: cover;
}



/* FOOTER */

.footer {
  background-color: #F4EEA7;
  height: 70px;
  color: black;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */

.container_login{
  height: 500px;
  width: 100%;
  background-color: #F4EEA7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto_login{
  height: 400px;
  width: 500px;
  background-image: url(lolo.jpg);
  background-size: cover;
  border-radius: 15px;
}

.span_login{
  font-family: 'Snell Roundhand, cursive';
  color: black;
  font-style: oblique;
  font-size: 25px;
  margin-top: 50px;
}

/* FORMULARIO */

.container_cadastro{
  height: 500px;
  width: 100%;
  background-color: #F4EEA7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto_cadastro{
  height: 400px;
  width: 400px;
  background-image: url(Foto-2_5\ \(1\).jpg);
  background-size: cover;
  border-radius: 15px;
}

.span_cadastro{
  font-family: 'Snell Roundhand, cursive';
  color: black;
  font-style: oblique;
  font-size: 25px;
  margin-top: 50px;
}

.box{
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input_nome{
  height: 30px;
  width: 250px;
  background-color: #F4EEA7;
  border-radius: 10px;
}

.input_email{
  height: 30px;
  width: 250px;
  background-color: #F4EEA7;
  border-radius: 10px;
}

.input_senha{
  height: 30px;
  width: 250px;
  background-color: #F4EEA7;
  border-radius: 10px;
}

button {
  height: 30px;
  width: 100px;
  background-color: #F4EEA7;
  border-radius: 5px;
  font-family:'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 500;
}


/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}